@import url('https://fonts.googleapis.com/css2?family=Nombre+de+la+Fuente');

 html body {
    font-family: Arial, sans-serif;
    background-color: #dad7d7;
}

.login-container {
    width: 450px;
    height: 840px;
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: "Releway"; 
    color: #8DCB9E;
    font-size: 18px;
    ;
 }
    


    body {
        font-family: Arial, sans-serif;
        background-color: #e21717;
    }

    .login-container .img {
            width: 100%; /* Ajusta el ancho al 100% del contenedor */
            height: 100px; /* Altura automática para mantener la proporción */
            margin-top: 50px; /* Mover la imagen 20px hacia abajo */
        
        
    }


    .btn.btn-success.btn-lg.btn-block {
        height: 80px;
        margin-top: 100px; /* Ajusta este valor según lo que necesites */
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 60px; /* Ajusta la altura de línea para centrar verticalmente */
        background-color: #AEAFF7;

    }
    
      

      .btn.btn-primary.btn-lg.btn-block {
        height: 80px;
        margin-top: 150px; /* Ajusta este valor según lo que necesites */
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 60px; /* Ajusta la altura de línea para centrar verticalmente */
        background-color: #69B9E7;
      }


      .img img {
        width: 50%; /* Ancho al 100% del contenedor */
        height: auto; /* Altura automática para mantener la proporción */
    }

    .container-111  {
      margin-right: 250px; /* Margen derecho para los enlaces */
      margin-top: 50px;
    
    }

      
  
      .container-111 img {
        margin-top: 20px; /* Desplazamiento hacia abajo */  }

      

  .casa {
      margin-left: 60px;
      margin-top: -40px;

      
  }
  .download-1 {
      float: right; /* Para alinear a la derecha */
      margin-top: -40px;

  }
  
  .download-1 img {
      width: 50px; /* Tamaño deseado de la imagen */
      height: auto; /* Mantener la proporción de aspecto */
  }
  