@import url('https://fonts.googleapis.com/css2?family=Nombre+de+la+Fuente');

 html body {
    font-family: Arial, sans-serif;
    background-color: #dad7d7;
}

.login-container {
    width: 440px;
    height: 860px;
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #8DCB9E;
    font-size: 25px bold;
    font-style:bold;
 }

    
    .login-container .img {
            width: 100%; /* Ajusta el ancho al 100% del contenedor */
            height: 100px; /* Altura automática para mantener la proporción */
            margin-top: 50px; /* Mover la imagen 20px hacia abajo */  

    }

    .btn.btn-success.btn-lg.btn-block {
        height: 80px;
        margin-top: 85px; /* Ajusta este valor según lo que necesites */
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 60px; /* Ajusta la altura de línea para centrar verticalmente */
        background-color: #8DCB9E;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        border:none;
    }
    
      

      .btn.btn-primary.btn-lg.btn-block {
        float: center;
        height: 80px;
        margin-top: 170px; /* Ajusta este valor según lo que necesites */
        text-align: center; /* Centra el texto horizontalmente */
        line-height: 60px; /* Ajusta la altura de línea para centrar verticalmente */
        background-color: #8DCB9E;
        font-family: 'Raleway', sans-serif;
        font-size: 22px;
        border:none;
      }

      .btn.btn-primary.btn-lg.btn-block:hover,.btn.btn-success.btn-lg.btn-block:hover {
        background-color: darkgreen;
      }  
      .img img {
        width: 45%; /* Ancho al 100% del contenedor */
        height: auto; /* Altura automática para mantener la proporción */
        margin-top: 10px;
      }

      .container-1 {
        display: flex;
        justify-content: center;
        gap: 100px;
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .config, .casa, .download-20 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
    }
    
    .config img, .casa img, .download-20 img {
        width: 45px;
        height: 50px;
        cursor: pointer;
        transition: transform 0.3s ease;
    }
    
    .config img:hover, .casa img:hover, .download-20 img:hover {
        transform: scale(1.1);