@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
}

.login-container {
    width: 350px;
    height: 760px;
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #8DCB9E;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #8DCB9E;
    font-size: 20px;
}

h2 {
    text-align: center;
    font-family: 'jomhuria', sans-serif;
    color: #8DCB9E;
    text-shadow: 1px 1px 0 #000;    
    font-size: 40px;
}

.form-group .label {
    margin-bottom: 20px;
    text-align: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    color: #8DCB9E;
    background-color: #8DCB9E;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
button,
select {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

select {
    color: #000000; /* Color del texto del select */
}

select option[disabled] {
    color: #000000; /* Color del texto del placeholder */
}

button {
    background-color: #8DCB9E;
    font-size: 20px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: green;
}

.forgot-password {
    text-align: center;
    margin-top: 35px;
    font-family: 'jomhuria', sans-serif;
    list-style: none;
    color: green;
    text-decoration: none;
    font-weight: bold; /* Texto en negrilla */
}

.forgot-password a {
    text-align: center;
    margin-top: 20px;
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; /* Texto en negrilla */
}

.username::placeholder,
.password::placeholder ,.form-group {
    color: #000000;
}

.logo-container img {
    width: 100px;
    height: auto;
}

.register-link {
    color: #8DCB9E;
    font-size: 20px;
}

.register-link a {
    color: green;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; /* Texto en negrilla */
}

img {
    display: block;
    margin: 20px auto;
    text-align: center;
}

::placeholder {
    color: #000000;
}

.alert {
    background-color: #8DCB9E;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: 1px solid #8DCB9E;
    border-radius: 4px;
    max-width: 90%;
    width: 400px;
    position: relative;
    margin: 10px auto;
}

.closebtn {
    color: white;
    float: right;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.closebtn:hover {
    color: black;
}

@media (max-width: 480px) {
    .alert {
        width: 90%;
        max-width: 90%;
    }

    .login-container {
        width: 90%;
        height: auto; /* Adjust height as needed */
        margin: 0;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
    }
}

select:focus {
    outline: none;
    border-color: #8DCB9E;
}

select option {
    color: #000;
}
