
.settings-v-1 {
    width: 400px;
    margin: 100px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
  
    .frame-6 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto 100px;
    }
    
    .settings-v-1 .sanamed {
        overflow-wrap: break-word;
        font-family: 'Inter';
        font-weight: 700;
        font-size: 32px;
        color: #000000;
        justify-content: center;

    }
    
   
        
    .settings-v-1 .frame-13 {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        background: #E1F8E8;
        margin: 0 6px 31px 12px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 20px 7px 0;
        width: calc(100% - 18px);
        box-sizing: border-box;
    }
    
  
    
    .settings-v-1 .login-button a {
        border-radius: 8px;
        margin: 30px 2% 0px 30%; /* Ajuste para centrar verticalmente y mover un poco hacia abajo */
        display: flex;
        padding: 21px 0;
        width: 168px;
        height: fit-content;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        
    }
    .label a{

        text-decoration: none;
        color: green;

    }
    

    .settings-v-1 .container-1 {
        margin: 0 34px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-self: flex-end;
        width: 336px;
        box-sizing: border-box;
    }
    
    
    
    
    
    .settings-v-1 .label {
        text-align: center;
        overflow-wrap: break-word;
        font-family: var(--button-button-2-font-family, 'Raleway');
        font-weight: var(--button-button-2-font-weight, 600);
        font-size: var(--button-button-2-font-size, 16px);
        line-height: var(--button-button-2-line-height, 1.125);
        background: linear-gradient(#000000, #000000), linear-gradient(rgba(245, 130, 130, 0.61), rgba(245, 130, 130, 0.61));
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
    
    .settings-v-1 .container-8 {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 16px;
        background: #8DCB9E;
        position: relative;
        margin-bottom: 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15.1px 13.4px 14.2px 13.8px;
        height: 61px;
        width: 98%;
        box-sizing: border-box;
    }
   
.container-111 a {
    margin-right: 250px;
    color: #00fffb;
}

.casa a {
    margin-left: -190px;
    
}
.download-1 {
    float: right; /* Para alinear a la derecha */
}

.download-1 img {
    width: 50px; /* Tamaño deseado de la imagen */
    height: auto; /* Mantener la proporción de aspecto */
}
