@import url('https://fonts.googleapis.com/css2?family=Nombre+de+la+Fuente');

 html body {
    font-family: Arial, sans-serif;
    background-color: #dad7d7;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: "Releway"; 
    color: #8DCB9E;
    font-size: 18px;
    ;
 }
    


    body {
        font-family: Arial, sans-serif;
        background-color: #e21717;
    }

    .login-container .img {
            width: 100%; /* Ajusta el ancho al 100% del contenedor */
            height: 100px; /* Altura automática para mantener la proporción */
            margin-top: 50px; /* Mover la imagen 20px hacia abajo */
        
        
    }