

.container {
    width: 300px;
    margin: 100px auto;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    font-family: "Releway"; 
    color: #8DCB9E;
    font-size: 25px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.appointment-form {
    /* Estilos generales para el formulario */
    /* Por ejemplo: */
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
}

.form-label {
    /* Estilos para las etiquetas */
    /* Por ejemplo: */
    font-weight: bold;
}

.form-label1 {
margin: 20px;

}

.h1 {
    height: 10px; /* Ajusta la altura a 10px */
    width: 20px; /* Ajusta el ancho a 20px */
    margin: 25px; /* Ajusta el margen a 25px en todas las direcciones */
}


input[type="text"] {
    width: 100px; /* Ancho del cuadro de texto */
    height: 20px; /* Altura del cuadro de texto */
}

.label .form-label{
width: 40px;
    margin: 20px ;
}

.form-submit {
    display: inline-block;
    padding: 10px 20px; /* Ajusta el relleno según sea necesario */
    background-color: #8DCB9E; /* Color de fondo */
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado del texto */
    border: none; /* Elimina el borde */
    border-radius: 0; /* Elimina la curvatura de los bordes */
}

.form-submit:hover {
    background-color: darkgreen; /* Cambia el color de fondo al pasar el mouse */
}


.container-111  {
    margin-right: 250px; /* Margen derecho para los enlaces */
    margin-top: 50px;
  
  }

    

    .container-111 img {
      margin-top: 20px; /* Desplazamiento hacia abajo */  }

    

.casa {
    margin-left: 60px;
    margin-top: -50px;

    
}
.download-1 {
    float: right; /* Para alinear a la derecha */
    margin-top: -50px;

}

.download-1 img {
    width: 50px; /* Tamaño deseado de la imagen */
    height: auto; /* Mantener la proporción de aspecto */
}
