<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style11.css') }}">
    <title>Sanamed - Software de Salud Mental</title>
</head>
<body>
<div class="settings-v-1">
    <div class="container-8">
        <div class="salud-mental-1" title="Imagen ilustrativa sobre salud mental">
        </div>
        <div class="frame-6">
            <span class="sanamed" title="SANAMED: Sanamed es un software de salud mental que ofrece una variedad de servicios y herramientas para mejorar el bienestar emocional y la salud mental de los usuarios.">SANAMED</span>
        </div>
    </div>

<div    class= "imagen14 " >
  <img src="static/image 14 (1).png" alt="Imagen 9" title="Administrador">
</div>
   
<div class="frame-13">
    <div class="login-button">
        <span class="label" title="Chatea con bot">
            <a href="https://www.whatsapp.com/coronavirus/get-started-business?lang=es_LA">Chatea con bot</a>
        </span>
    </div>
</div>

<div class="frame-13">
    <div class="login-button">
        <span class="label" title="Editar Perfil">
            <a href="#">Editar Perfil</a>
        </span>
    </div>
</div>

<div class="frame-13">
    <div class="login-button">
        <span class="label" title="Citas agendadas">
            <a href="#">Citas agendadas</a>
        </span>
    </div>
</div>

<div class="container-1">
    <div class="gear-setting-icon-clipart-1">
        <!-- Contenido del primer div -->
    </div>
    <div class="container-111" title="Ajustes">
        <a href=""><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt="Icono de Ajustes"></a>
    </div>
    <div class="download-1" title="Cerrar Sesión">
        <a href="{{ url_for('index') }}"><img src="static/iconmonstr-log-out-17-240.png" alt="Icono de Cerrar Sesión"></a>
    </div>
    <div class="casa" title="Inicio">
        <a href=""><img src="static/25694 1.png" alt="Icono de Inicio"></a>
    </div>
</div>

</div>
</body>
</html>
