<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style7.css') }}">
    <title>Sanamed - Software de Salud Mental</title>
</head>
<body>

    
    <div class=" container"> 
        <h1>Agende su Cita</h1>

    <form action="/agendar_cita" method="POST" class="appointment-form">
        <label for="fecha" class="form-label">Fecha:</label>
        <input type="date" id="fecha" name="fecha" required class="form-input"><br><br>
        
        <label for="hora" class="form-label">Hora:</label>
        <select id="hora" name="hora" required class="form-select">
            <option value="" disabled selected>Selecciona una hora</option>
            <option value="08:00 AM">08:00 AM</option>
            <option value="09:00 AM">09:00 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="12:00 PM">12:00 PM</option>
            <option value="01:00 PM">01:00 PM</option>
            <option value="02:00 PM">02:00 PM</option>
            <option value="03:00 PM">03:00 PM</option>
            <option value="04:00 PM">04:00 PM</option>
            <option value="05:00 PM">05:00 PM</option>
        </select><br><br>
        
        {% if error %}
        <p style="color: red;" class="form-error">{{ error }}</p>
        {% endif %}
    
        
        <label for="motivo" class="form-label1">Motivo:</label><br>
        <textarea id="motivo" name="motivo" rows="7" cols="30" required class="form-textarea"></textarea><br><br>
        
        <label for="profesional" class="form-label">Profesional:</label><br>
        <select id="profesional" name="profesional" class="form-select">
            {% for profesional in profesionales %}
                <option value="{{ profesional[0] }}">{{ profesional[1] }} - {{ profesional[2] }}</option>
            {% endfor %}
        </select><br><br>
        
        <a href="#" id="agendar-cita" class="form-submit">Agendar Cita</a>
    </form>
    <div class="container-1">
        <div class="gear-setting-icon-clipart-1">
        </div>
        <div class="container-111">
            <a href=""><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt=""></a>
        </div>
        <div class="download-1">
            <a href="{{ url_for('index') }}"><img src="static/iconmonstr-log-out-17-240.png" alt=""></a>
        </div>
        <div class="casa">
            <a href="{{ url_for('user_home') }}"><img src="static/25694 1.png" alt=""></a>
        </div>
    </div>

</div>
    
</form>
</body>
</html>
