<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style10.css') }}">
    <title>Consultas del día {{ fecha_seleccionada }}</title>
</head>
<body>
    <div class="container">
        <h1 class="titulo-principal">Consultas del día {{ fecha_seleccionada }}</h1>
        <div class="appointment-form">
            <div class="consultas">
                {% if consultas %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="blue-title">Fecha</th>
                                <th class="green-title">Hora</th>
                                <th class="red-title">Nombre Profesional</th>
                                <th class="purple-title">Especialidad</th>
                                <th class="orange-title">Motivo</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for consulta in consultas %}
                                <tr class="result-row">
                                    <td>{{ consulta[2] }}</td> <!-- Fecha -->
                                    <td>{{ consulta[3] }}</td> <!-- Hora -->
                                    <td>{{ obtener_nombre_profesional(consulta[1]) }}</td> <!-- Nombre del Profesional -->
                                    <td>{{ obtener_especialidad_profesional(consulta[1]) }}</td> <!-- Especialidad del Profesional -->
                                    <td>{{ consulta[4] }}</td> <!-- Motivo -->
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% if mensaje %}
                    <p>{{ mensaje }}</p>
                {% endif %}
            </div>
        </div>
        <div class="container-1">
            <div class="gear-setting-icon-clipart-1" title="Ajustes">
            </div>
            <div class="config">
                <a href=""><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt="" title="Ajustes"></a>
            </div>
            <div class="download-20" title="Cerrar Sesión">
                <a href="{{ url_for('index') }}"><img src="static/iconmonstr-log-out-17-240.png" alt="Icono de Cerrar Sesión"></a>
            </div>
            <div class="casa" title="Inicio">
                <a href="{{ url_for('user_home') }}"><img src="static/25694 1.png" alt="Icono de Inicio"></a>
            </div>
        </div>
    </div>
</body>
</html>
