<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
    <title>juegos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

    <div class="login-container">
      
        <h2>¿Qué juego desea jugar?</h2>
        <div class=' img '>
            <img src="static/image 10 (1).png" alt="">
        </div>
        <!-- Botones Bootstrap -->
        <a href="{{ url_for('rompecabezas') }}" class="btn btn-primary btn-lg btn-block">Rompecabezas</a>
        <a href="/laberinto" class="btn btn-success btn-lg btn-block">Laberinto</a>

    </div>
   
    <div> </div>


    <!-- Agregar Bootstrap JS (opcional, solo si necesitas funcionalidades como modales) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
