<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style4.css') }}">
    <title>Juegos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="login-container">
        <h2 title="Seleccione un juego para jugar">¿Qué desea jugar?</h2>
        <div class=' img '>
            <img src="static/image 10 (1).png" alt="Imagen del juego" title="Imagen de actividades y juegos">
        </div>
        <!-- Botones Bootstrap -->
        <a href="{{ url_for('rompecabezas') }}" class="btn btn-primary btn-lg btn-block" title="Jugar Rompecabezas">Rompecabezas</a>
        <a href="{{ url_for('laberinto') }}" class="btn btn-success btn-lg btn-block" title="Jugar Laberinto">Laberinto</a>
        <div class="container-1">
            <div class="gear-setting-icon-clipart-1" title="Ajustes">
            </div>
            <div class="container-111">
                <a href=""><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt="" title=" Ajustes"></a>
            </div>
            <div class="download-1" title="Cerrar Sesión">
                <a href="{{ url_for('index') }}"><img src="static/iconmonstr-log-out-17-240.png" alt="Icono de Cerrar Sesión"></a>
            </div>
            <div class="casa" title="Inicio">
                <a href="{{ url_for('user_home') }}"><img src="static/25694 1.png" alt="Icono de Inicio"></a>
            </div>
        </div>
    </div>
    <!-- Agregar Bootstrap JS (opcional, solo si necesitas funcionalidades como modales) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
