<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Bienvenido Nuevamente</h1>
        <h2>INICIO DE SESIÓN</h2>

        <img src="{{ url_for('static', filename='salud-mental1.jpg') }}" alt="Descripción de la imagen">

        {% if error %}
        <p class="error">{{ error }}</p>
        {% endif %}

        <form action="/login" method="POST">
            <input type="text" class="username" name="correo" placeholder="Correo Electrónico" required>
            <input type="password" class="password" name="contrasena" placeholder="Contraseña" required>
            <div class="forgot-password">
                <a href="SOFTWARE II/templates/register.html">¿Olvidaste tu contraseña?</a>
            </div>
            <button type="submit">Inicio Sesión</button>
        </form>

        <!-- Agregar enlace para ir a la página de registro -->
        <div class="register-link">
            ¿No tienes una cuenta? <a href="{{ url_for('register') }}">Regístrate aquí</a>
        </div>
    </div>
</body>
</html>
