<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style12.css') }}">
    <title>Sanamed - Software de Salud Mental</title>
</head>
<body>
<div class="settings-v-1">
    <div class="container-8">
        <div class="salud-mental-1" title="Imagen ilustrativa sobre salud mental">
        </div>
        <div class="frame-6">
            <span class="sanamed" title="SANAMED: Sanamed es un software de salud mental que ofrece una variedad de servicios y herramientas para mejorar el bienestar emocional y la salud mental de los usuarios.">SANAMED</span>
        </div>
    </div>
    
    <div    class= "imagen14 " >
        <img src="static/image 13.png" alt="Imagen 9" title="Administrador">
      </div>
         
    <div class="container-2">
        <div class="frame-10">
            <div class="image-7">
                <img src="static/image 7.png" alt="Imagen 7" title="Musica relajante ">
            </div>
            <span class="musica-relajante" title="Música relajante">
                <a href="https://open.spotify.com/playlist/5xXpUY3henFlcPt86jJrqh?si=c6880e4269eb4dd1">Música relajante</a>
            </span>
        </div>
        <div class="frame-12">
            <div class="image-8">
                <img src="static/image 8.png" alt="Imagen 8" title="Agendar cita">
            </div>
            <span class="terapia" title="Agendar Cita">
              <a href="/agendar_cita">Agendar Cita</a>
            </span>
        </div>
    </div>
    <div class="container-3">
        <div class="frame-11">
            <div class="image-11">
                <img src="static/image 11 (1).png" alt="Imagen 11" title="Calendario">
            </div>
            <span class="calendario" title="Calendario">
              <a href="/calendario">Calendario</a>
            </span>
        </div>
        <div class="frame-11">
            <div class="image-10">
                <img src="static/image 10 (1).png" alt="Imagen 10" title="Herramientas y actividades">
            </div>
            <span class="herramientas-yactividades" title="Herramientas y actividades">
              <a href="{{ url_for('games') }}">Herramientas y actividades</a>
            </span>
        </div>
    </div>
    <div class="container-1">
        <div class="gear-setting-icon-clipart-1">
        </div>
        <div class="container-111" title="Ajustes">
            <a href=""><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt="Icono de Ajustes"></a>
        </div>
        <div class="download-1" title="Cerrar Sesión">
            <a href="{{ url_for('index') }}"><img src="static/iconmonstr-log-out-17-240.png" alt="Icono de Cerrar Sesión"></a>
        </div>
        <div class="casa" title="Inicio">
            <a href=""><img src="static/25694 1.png" alt="Icono de Inicio"></a>
        </div>
    </div>
</div>
</body>
</html>
