<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sliding Puzzle Game</title>
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style5.css') }}">
  </head>
  <body>
    <div class="cover-screen">
      <p id="result"></p>
      <button id="start-button">Start Game</button>
    </div>
    <div id="moves"></div>
    <div class="slider-game">
      <div class="container"></div>
      <div class="original-image">
        <img src=" {{ url_for('static', filename='static/lindo-perrito-aislado-amarillo_23-2148985953.png') }}" alt="" />
      </div>
    </div>
    <!-- Script -->
    <script src="{{ url_for('static', filename='puzzle.js') }}"></script>

  </body>
</html>




















    <script src="{{ url_for('static', filename='puzzle.js') }}"></script>
