<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style2.css') }}">
    <title>Sanamed - Software de Salud Mental</title>
</head>
<body>
<div class="settings-v-1">
    <div class="container-8">
        <div class="salud-mental-1">
        </div>
        <div class="frame-6">
            <span class="sanamed">
              SANAMED
            </span>
        </div>
    </div>
    <p class="welcome-back-sarina">
      <span class="welcome-back-sarina-sub-21"></span>
      <span class="welcome-back-sarina-sub-22"></span>
      <span></span>
    </p>
    <div class="group-73">
      <div class="how-are-you-feeling-today">
        ¿Cómo te sientes hoy?
      </div>
      <div class="group-81">
        <div class="happy">
          <div class="container-5">
            <div class="happy-1">
              <form action="/registro_emocion" method="POST">
                <input type="hidden" name="emocion" value="Feliz">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                  <img class="vector-7" src="static/Happy.png" />
                </button>
              </form>
            </div>
          </div>
          <span class="feliz">
            Feliz
          </span>
        </div>
        <div class="calm">
          <div class="container-4">
            <div class="calm-1">
              <form action="/registro_emocion" method="POST">
                <input type="hidden" name="emocion" value="Calmado">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                  <img class="vector-7" src="static/Calm - Icon.png" />
                </button>
              </form>
            </div>
          </div>
          <span class="calmado">
            Calmado
          </span>
        </div>
        <div class="relax">
          <div class="container-6">
            <div class="relax-1">
              <form action="/registro_emocion" method="POST">
                <input type="hidden" name="emocion" value="Relajado">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                  <img class="vector-7" src="static/Relax.png" />
                </button>
              </form>
            </div>
          </div>
          <span class="relajado">
            Relajado
          </span>
        </div>
        <div class="focus">
          <div class="container-7">
            <div class="focus-1">
              <form action="/registro_emocion" method="POST">
                <input type="hidden" name="emocion" value="Enojado">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                  <img class="vector-7" src="static/Vector.png" />
                </button>
              </form>
            </div>
          </div>
          <span class="enojado">
            Enojado
          </span>
        </div>
        <div class="focus-mood">
          <div class="container-8">
            <div class="focus-mood-1">
              <form action="/registro_emocion" method="POST">
                <input type="hidden" name="emocion" value="Triste">
                <button type="submit" style="border: none; background: none; cursor: pointer;">
                  <img class="vector-7" src="static/Vector.png" />
                </button>
              </form>
            </div>
          </div>
          <span class="triste">
            Triste
          </span>
        </div>
      </div>
    </div>    
    <div class="frame-13">
        <div class="login-button">
            <span class="label">
                <a href="">Chatea con**bot</a>
            </span>
        </div>
        <div class="image-9">
            <img src="static/image 9 (3).png" alt="">
        </div>
    </div>
    <div class="container-2">
        <div class="frame-10">
            <div class="image-7">
                <img src="static/image 7.png" alt="">
            </div>
            <span class="musica-relajante">
                <a href="https://open.spotify.com/playlist/5xXpUY3henFlcPt86jJrqh?si=c6880e4269eb4dd1">Musica relajante</a>
            </span>
        </div>
        <div class="frame-12">
            <div class="image-8">
                <img src="static/image 8.png" alt="">
            </div>
            <span class="terapia">
              <a href="/agendar_cita">Agendar Cita</a>
            </span>
        </div>
    </div>
    <div class="container-3">
        <div class="frame-11">
            <div class="image-11">
                <img src="static/image 11 (1).png" alt="">
            </div>
            <span class="calendario">
              <a href="">Calendario</a>
            </span>
        </div>
        <div class="frame-11">
            <div class="image-10">
                <img src="static/image 10 (1).png" alt="">
            </div>
            <span class="herramientas-yactividades">
              <a href="templates/puzzle.html">Herramientas y actividades</a>
            </span>
        </div>
    </div>
    <div class="container-1">
        <div class="gear-setting-icon-clipart-1">
        </div>
        <div class="container-111">
            <a href=""><img src="static/556-5567171_gear-setting-icon-clipart 1.png" alt=""></a>
        </div>
        <div class="download-1">
            <a href=""><img src="static/download 1.png" alt=""></a>
        </div>
        <div class="casa">
            <a href=""><img src="static/25694 1.png" alt=""></a>
        </div>
    </div>
</div>
</body>
</html>
